body
{
  background-image: url("resource/background.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  padding:2% 10% 10% 10%;

}
.book
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 140, 0);
  width: 80%;
  position: absolute;
}
.bookPages
{
  position: absolute;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.pageFront1,.pageFront2,.pageFront3,.pageFront4,.pageFront5,.pageBack1,.pageBack2,.pageBack3,.pageBack4,.pageBack5
{
  border: 1px solid black;
  position: absolute;
  height: 22rem;
  width: 20rem;
  backface-visibility: hidden;
}
.pageFront1,.pageFront2,.pageFront3,.pageFront4,.pageFront5
{
  background-color: #00a2ff;
}
.pageBack1,.pageBack2,.pageBack3,.pageBack4,.pageBack5
{
  background-color: #00a2ff;
  transform: rotateY(180deg);
}
.prevbtn, .nextbtn
{
  cursor: pointer;
  color: white;
  background-color: rgb(255, 72, 72);
  border: 1px solid black;
  font-size: 190%;
}
@media(width < 470px)
{
  body
  {
    padding: 10% 4% 10% 5%;
  }
  .pageFront1,.pageFront2,.pageFront3,.pageFront4,.pageFront5,.pageBack1,.pageBack2,.pageBack3,.pageBack4,.pageBack5
  {
    height: 20rem;
    width: 10rem;
  }

}
